node_modules
dist
.nyc_output
coverage
*.tsbuildinfo
build

pnpm-debug.log
*.log
artifacts
cache
typechain
sonra-types
examples/**/contracts
examples/**/artifacts
examples/**/typechain
examples/**/sonra-types
